<div class="example-container">
  <form (submit)="crearCategoria(descripcion.value)">

  <mat-form-field appearance="legacy">
    <mat-label>Descripción</mat-label>
    <input matInput [formControl]="descripcion" placeholder="Escriba una descripción" name="descripcion">
  </mat-form-field>

    <button mat-raised-button [disabled]="!descripcion.valid " color="primary">Crear Categoría</button>

  </form>
</div>

  <mat-form-field appearance="standard">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="Ejemplo categoria 1" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="idCategoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Categoria </th>
      <td mat-cell *matCellDef="let categoria"> {{ categoria.idCategoria }} </td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
      <td mat-cell *matCellDef="let categoria"> {{ categoria.descripcion }} </td>
    </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-button color="primary" (click)="agregar()">
        <mat-icon color="primary">add</mat-icon>
        Agregar nueva categoria
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="primary" (click)="editar(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="eliminar(row)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Seleccione la pagina">
  </mat-paginator>

  <ng-template>
    <div class="modal-body text-center">
      <p>¿Quieres eliminar la categoría?<p>
      <button type="button" class="btn btn-default">Si</button>
      <button type="button" class="btn btn-default">No</button>
    </div>
  </ng-template>

