<h1 mat-dialog-title>Usted va a modificar la categoría {{data.idCategoria}}</h1>
<div mat-dialog-content>
  <p>Por favor escriba la nueva descripción para esta categoría</p>
  <mat-form-field appearance="fill">
    <mat-label>Nueva descripción</mat-label>
    <input matInput [(ngModel)]="data.descripcion">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.descripcion" cdkFocusInitial>Ok</button>
</div>
