<h1>Lista de las Fichas Clínicas</h1>

<div class="example-container">

  <mat-form-field appearance="fill">
    <mat-label>Fecha desde</mat-label>
    <input matInput [matDatepicker]="picker1" [formControl]="fechaDesde">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha hasta</mat-label>
    <input matInput [matDatepicker]="picker1" [formControl]="fechaHasta">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

</div>

<div class="example-container">

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Empleado</mat-label>
    <input matInput>
    <button mat-icon-button matSuffix (click)="openDialog()" >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Cliente</mat-label>
    <input matInput>
    <button mat-icon-button matSuffix (click)="openDialog()" >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="example-container">

<mat-form-field appearance="fill">
  <mat-label>Categoría</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Subcategoría (tipo prod)</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>

</div>

<div class="example-container">
  <button mat-raised-button>Buscar</button>
  <button mat-raised-button>Limpiar</button>

</div>


